.Login > form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  animation: login-appear ease-out .5s;
}

.Login > form > label {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 13px;
  gap: 1%;
}

.Login > form > input,
.Login > form > button {
  position: relative;
  padding: 15px;
  border-radius: 15px;
  border: transparent;
  background-color: lightgray;
  margin-bottom: 5%;
}

.Login > form > button {
  background-color: green;
  font-weight: bold;
  font-size: 100%;
  color: whitesmoke;
  cursor: pointer;
}

.Login > form > button:hover {
  background-color: rgb(4, 163, 4);
  transition: .2s;
}

.Login > form > div > a {
  font-weight: bold;
  color: green;
}

.Login > form > div > a:hover {
  color: rgb(4, 163, 4);
  transition: .2s;
}

@keyframes login-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}