.Login {
  display: flex;
  border: 1px solid;
  justify-content: center;
  margin-top: 2%;
  animation: slide-down 400ms ease-out forwards;
}

.Login > img {
  width: 50%;
  margin: 0;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.welcome-text {
  position: absolute;
  left: 25%;
  top: 10%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 30%;
  line-height: 1.5;
  word-wrap: break-word;
}

.welcome-text > p {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.Login > form {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1%;
  padding-top: 5%;
  border: 1px solid transparent;
  background-color: white;
  border-radius: 0 10px 10px 0;
  color: #333333;
  gap: 2%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.title {
  font-size: 24px;
   text-align: center;
}

.about {
  font-size: 16px;
  margin-top: 50%;
  margin-left: -25%;
  text-align: justify;
}

form > input {
  border: transparent;
  border-bottom: 2px solid lightgray;
  border-radius: 0;
}

form > button {
  border-radius: 5px;
  margin-top: 5%;
}

form > button:hover {
  background-color: #fac78a
}

/* 
.Login input, .Login button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border: transparent !important;
    border-bottom: 2px solid black;
} */

@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }