.VacationsList {
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  animation: VacationsList-appear 1s ease-out forwards;
  margin-top: 3%;
  height: 100%;
  position: relative;
}

.VacationsList > .pagination > button {
  background-color: transparent;
  border-radius: 5px;
  margin: 2px;
  color:  green;
  padding-top: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transform: scale(1.2);
  margin: 5px;
}

.VacationsList > .pagination > button:disabled{
  color: darkgray;
}

.VacationsList > .pagination > button:hover{
  transform: scale(1.25);
}

.pagination {
  position: absolute;
  top: -5%;
  right: 5%;
  display: flex;
}

@keyframes VacationsList-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.filters {
  color: green;
  padding: 10px;
  margin-left: -55%;
  display: inline;
  position: fixed;
  bottom: 100%;
  padding-top: 20px;
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
