.VacationsList {
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  animation: VacationsList-appear 1s ease-out forwards;
  height: 100%;
  position: relative;
  margin-top: 2%;
}

.VacationsList > .filters-pagination > .pagination {
  display: flex;
}

.VacationsList > .filters-pagination > .pagination > button {
  background-color: transparent;
  margin: 2px;
  color:  green;
  display: flex;
  align-items: center;
  cursor: pointer;
  transform: scale(1.2);
}

.VacationsList > .filters-pagination > .pagination > button:disabled{
  color: darkgray;
}

.VacationsList > .filters-pagination > .pagination > button:hover{
  transform: scale(1.25);
}

@keyframes VacationsList-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.filters {
  display: flex;
  color: green;
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.filters-pagination{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10%;
  white-space: nowrap;
  top: 0%;
  bottom: 100%;
}

/* DROPDOWN CSS */
.dropBtn {
  position: absolute;
  right: 5%;
  top: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: white;
  font-size: 16px;
  width: 45px;
  height: 45px;
  border-radius: 60%;
  background: rgb(27, 27, 27, .4);
  cursor: pointer;
}

.dropBtn:hover{
  color: #333;
  background: rgba(255, 255, 255, 0.4);
  transition: .2s;
}

.dropdown-content {
  border-radius: 5px;
  display: none;
  position: absolute;
  right: 3.5%;
  top: 10%;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
