.Header {
	display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 5%;
  align-items: center;
}

.navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 8%;
  align-items: center;
  font-weight: bold;
  white-space: nowrap;
}

.logo {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: bold;
}

