.Header {
	display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 5%;
  align-items: center;
}

.navigation{
  display: flex;
  flex-direction: row;
  gap: 1%;
  justify-content: space-evenly;
  width: 25%;
  align-items: center;
  font-weight: bold;
}

.logo {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

