.Logout > button{
	padding: 5px;
  border-radius: 10px;
  border: 3px solid #ffb700;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

.Logout > button:hover {
  padding: 5.5px;
}
