.main-container {
  margin: 0;
  padding: 0;
}

.card {
  height: 300px;
  width: 400px;
  margin: 10px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}

/* .card:hover{
  cursor: pointer;
} */

.card > img {
  height: inherit;
  width: inherit;
  border-radius: 3px;
  transition: .5s;
}

.card:hover img {
  transform: scale(1.05);
}

.intro{
  cursor: pointer;
  height: 50px;
  width: inherit;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  background: rgb(27, 27, 27, .5);
  color: white;
  bottom: 0%;
  transition: .5s;
}

.card:hover .intro {
  height: 40%;
  background: rgb(27, 27, 27, .7);
}

h3{
  margin: 10px;
  font-size: 20px;
}

p{
  margin: 5px;
  text-align: justify;
  visibility: hidden;
  opacity: 0;
}

.card:hover p{
  opacity: 1;
  visibility: visible;
}