.main-container {
  margin: 0;
  padding: 0;
  position: relative;
  padding-top: 2%;
}

.card {
  height: 300px;
  width: 400px;
  margin: 10px;
  margin-top: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}

.card > img {
  height: inherit;
  width: inherit;
  border-radius: 3px;
  transition: .5s;
}

.card:hover img {
  transform: scale(1.05);
}

.intro{
  cursor: pointer;
  height: 50px;
  width: inherit;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  background: rgb(27, 27, 27, .5);
  color: white;
  bottom: 0%;
  transition: .5s;
  margin-top: 0;
}

.card:hover .intro {
  height: 60%;
  background: rgb(27, 27, 27, .7);
}

.details{
  display: flex;
  flex-direction: row;
  height: 70px;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 0;
}

.price{
  font-size: 20px;
  font-weight: bold;
  margin-top: 2.75%;
}

.destination-date {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: justify;
}

h3{
  margin: 3px 5px;
  font-size: 20px;
}

h5{
  margin-top: -5px;
  margin-left: 5px;
}

p{
  margin: 5px;
  margin-top: -5%;
  text-align: justify;
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  height: 100px;
}

.card:hover p{
  opacity: 1;
  visibility: visible;
}

::-webkit-scrollbar{
  display: none; 
 }

 /* LIKE BTN */

 .LikeButton{
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 1;
  top: 14.5%;
  right: 5%;
  transform: scale(1.2);
 }

 .LikeButton > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
 }

 .like{
  animation: bump 300ms ease-out;
  display: flex;
  align-items: center;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
