.LikesChart {
  padding: 8rem 2rem 2rem 2rem;
  border-radius: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 400px;
  width: 90%;
  margin-top: 20px;
  color: black;
  animation: slide-down 400ms ease-out backwards;
  background-color: whitesmoke;
  position: relative;
}


.chartHeader{
  top: 20px;
  position: absolute;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}