.ChartBar {
  height: 100%;
  width: 100%;
  display: flex;
  border-radius: 12px;
  margin-top: 25px;
  padding: 0;
}

.column{
  width: 55px;
  align-self: flex-end;
  border-radius: 12px 12px 0px 0px;
  padding-bottom: 20px;
  margin: 5px;
  background-color: rgb(110, 179, 110);
}

.label{
  font-size: 14px;
  writing-mode: vertical-rl;
  align-self: flex-end;
  margin-bottom: 8px;
}

.value{
  position: relative;
  bottom: 20px;
}