.Card{
  border: 1px solid transparent;
  border-radius: 12px;
  margin: 10px;
  padding: 10px;
  width: 350px;
  height: 415px;
  background-color: whitesmoke;
  color: black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
  font-size: 16px;
}

.title {
  font-weight: bold;
  text-align: left;
  font-size: 20px;
}

.description {
  height: 150px;
  overflow: auto;
  font-size: 16px;
  text-align: justify;
}

::-webkit-scrollbar{
  display: none; 
 }

.Card img {
	width: 350px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.date {
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  text-align: left;
  background-color: lightgray;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  margin: 5px;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8%;
}

.price{
  font-weight: bold;
  font-size: 18px;
}

.Card button {
  border: transparent;
  border-radius: 10px;
  font-weight: bold;
  height: 20px;
  font-size: 20px;
}

.admin-field {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 17px;
  height: 10%;
}

.edit, .delete {
  display: flex;
  align-items: center;
  background-color: burlywood;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.edit:hover, .delete:hover {
  background-color: bisque;
}
