.Register > form {
    width: 350px;
    margin: 20px auto;
    text-align: left;
    padding: 10px;
    border: 1px solid;
    /* background-image: linear-gradient(90deg, lightgreen, lightskyblue); */
    border-radius: 10px;
    color: black;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    animation: slide-down 400ms ease-out forwards;
}

.Register input, .Register button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

/* .Register .recaptcha {
    transform: scale(0.82);
    transform-origin: 0 0;
}  */

@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
